#app {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(63, 63, 158);

}

p {
    color: rgb(180, 62, 62);
    font-size: 40px;
    display: inline-block;
}